---
import Layout from "../layouts/Layout.astro";
import ServicesList from "../components/ServicesList";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<!-- <Cotizador client:only /> -->
	<div class="flex items-center justify-center pt-10">
		<div class="flex w-11/12">
			<a
				href="/cotizador-avaluos"
				class="text-center font-bold p-5 border-2 rounded-lg border-gray-500 hover:bg-gray-500 hover:text-white transition"
				>Cotizador de Avaluos</a
			>
		</div>
	</div>
	<ServicesList client:only />
</Layout>
